html {
  margin: 0;
  padding: 0;
  font: normal normal normal 16px/26px "Helvetica Neue","Liberation Sans",Arial,Verdana,Helvetica,FreeSans,sans-serif;
  color: #333;
}
body{
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
header {
  width: 40em;
  margin: 0 auto;
}
header img {
  width: 100%;
}
header h1 {
  padding: 0 0.5em;
}
#content {
  width: 40em;
  margin: 1em auto;
}
main {
  border: solid #000;
  border-width: 1px 0;
  padding: 1em;
}
footer {
  padding: 1em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1em;
}
h2 a {
  color: #676767;
  font-size: 0.667em;
  margin-left: .5em;
  opacity: 0;
}
h2 a:focus,
h2:hover a {
  opacity: 1;
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

@media all and (max-width: 736px) {
  body {
    max-width: auto;
  }
  header,
  #content {
    width: 100%;
  }
  header h1 {
    font-size: 1.5em;
    padding: 0 0.75em;
  }
  main,
  footer {
    padding: 1em;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #CCC;
  }
  a {
    color: #00BFFF;
  }
}
